html {
    scroll-behavior: smooth;
}
body {
    background-color: #1F0F0A;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#main {
    width: max-content;
    margin: auto;
    text-align: center;
}
.white-background{
    background-color: white;
}
#instructions {
    text-align: center;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    width: max-content;
}
.header {
    width: max-content;
    padding: 5px;
    margin: 30px auto 30px auto;
    border-radius: 10px;
}
.front {
    background-color: #AEB43C;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back {
    background-color: #DAE6B3;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardText:hover{
    margin: 17px;
    border: 3px solid #b0fff0;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
input{
    line-height: 30px;
    border-radius: 3px;
}
#back-label {
    background-color: #DAE6B3;
    padding: 6px;
    border-radius: 3px;
}
#front-label {
    background-color: #AEB43C;
    padding: 6px;
    border-radius: 3px;
}